[submodule "third_party/openthread"]
	path = ThirdParty/openthread
	url = https://github.com/openthread/openthread.git
[submodule "third_party/ot-br-posix"]
	path = ThirdParty/ot-br-posix
	url = https://github.com/openthread/ot-br-posix.git
[submodule "ThirdParty/tool_rpi"]
	path = ThirdParty/tool_rpi
	url = https://github.com/raspberrypi/tools.git
