qpg7015m/GP_P1053_SW_15655_Smart_Home_Gateway_OpenThread_Lib_QPG7015M/Software/OpenThread_Lib_QPG7015M/Kbuild
qpg7015m/GP_P1053_SW_15655_Smart_Home_Gateway_OpenThread_Lib_QPG7015M/Software/OpenThread_Lib_QPG7015M/Work/
gp712/GP_P1053_SW_15656_Smart_Home_Gateway_OpenThread_Lib_GP712/Software/OpenThread_Lib_GP712/Kbuild
gp712/GP_P1053_SW_15656_Smart_Home_Gateway_OpenThread_Lib_GP712/Software/OpenThread_Lib_GP712/Work/
